.footer__wrapper{
    /* padding: 34px; */
    margin: 0;
    border-top: 5px solid #F9CE21;
}
body{
    padding: 0;
    margin: 0 auto;
}

.footer__body{
    padding: 34px;
    /* margin-bottom: 20px; */
    display: inline-flex;
    background: #FCFCFC;
}
ul{
    list-style: none;
}
.social__media__contact img {
    width: 30px;
    margin-right: 17px;
}
.contact__us img{
    width: 20px;
    margin-right: 17px;
}
li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.about__company{
    width: 40%;
}
.about__company h2{
    color: #666666;
}
.social__media__contact{
    width: 30%;
    border-left: 2px solid #666666;
}
.contact__us{
    width: 30%;
}
.bottom__fotter{
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 34px;
    background: #EDECEC;
    height: 55px;
    align-content: center;
}
.footer__CEO{
    margin-left: 80%;
}
